.content {
	margin: 30px;
	height: 750px;
}
.table-wrapper {
  display:block;
  overflow:auto;
  height:200px;
  width:100%;
}
.notfound-img {
	height: 400px;
}

.organization-box{
  margin-top: 20px;
}

/* images sections*/
 .logo {
	height: 200px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.avatar {
	line-height: 0; /* remove line-height */
	display: inline-block; /* circle wraps image */
	margin: 5px;
	border: 2px solid rgba(255, 255, 255, 0.4);
	border-radius: 50%; /* relative value */
	/*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
	transition: linear 0.25s;
	height: 200px;
	width: 200px;
}
.avatar:hover {
	transition: ease-out 0.2s;
	border: 2px solid #3498db;
	-webkit-transition: ease-out 0.2s;
}
.avatar-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* user section */
.user-info-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.user-info-row {
	margin-left: 15px;
}

.user-name{
  font-size: 35px;
}

/* icons section */
.icon {
	line-height: 0; /* remove line-height */
	display: inline-block; /* circle wraps image */
	margin: 10px;
	border: 2px solid rgba(255, 255, 255, 0.4);
	border-radius: 50%; /* relative value */
	/*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
	transition: linear 0.25s;
	height: 60px;
	width: 60px;
}
.icon:hover {
	transition: ease-out 0.2s;
	border: 2px solid #2ecc71;
	-webkit-transition: ease-out 0.2s;
}
.row {
	margin-top: 10px;
	margin-bottom: 10px;
}


.icon-social-media {
	font-size: 30px;
}
.input-box{
	width: 300px;
}
/* config of social media icons */
.fa-linkedin {
	color: #0077b5;
}

.fa:hover,
.fab:hover,
.fas:hover {
	opacity: 0.7;
}
.fa-at {
	color: #dd4b39;
}
.fa-phone {
	color: #9b59b6;
}

.fa-github {
	color: #211f1f;
}
.fa-github-input {
	font-size: 25px;
}
.fa-codepen {
	color: #211f1f;
}

/* responsive mode of social media icons */
.social-media-box {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin: 0 auto;
	grid-gap: 20px;
}

/* resposive options*/
@media (max-width: 600px) {
	.social-media-box {
		grid-template-columns: repeat(3, 1fr);
	}

	.icon-social-media {
		font-size: 50px;
	}
	.content {
		height: auto;
	}
}

@media (max-width: 480px) {
	.social-media-box {
		grid-template-columns: repeat(1, 1fr);
	}
	.icon-social-media {
		font-size: 50px;
	}
	.content {
		height: auto;
	}
	.logo{
		height: 100px;
	}

}
@media (max-width: 767px) {
	.content {
		height: auto;
	}
}
@media(max-width: 1023px) {
	.content {
		height: auto;
	}
}
